@use "../abstracts/variables" as *;

/* ......../ Home /.......... */

#particles-js {
  background: linear-gradient(to right, #1D3557, #457B9D);
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#particles-js {
  width: 100% !important;
  height: 100vh !important;
}

.hero-container {
  text-align: center;
  padding: $size-300;
  color: $clr-white;
  position: absolute;
  z-index: 1;

  h1 {
    line-height: $size-650;
    font-size: $fs-950;
    font-family: $ff-secondary;

    span {
      font-size: $fs-750;
      margin-bottom: $size-400;
    }
  }

  p {
    font-size: $fs-600;
    font-family: $ff-primary;
    font-weight: $fw-bold;
    margin-bottom: $size-600;  
  }
}

.hero-icons {
  font-size: $fs-700;
  margin-bottom: $size-600;

  a {
    color: $clr-blue-100;
    text-decoration: none;
  }
}

.ico {
  border: 2px solid $clr-blue-100;
  border-radius: $size-300;
  padding: 6px;
  margin: 4px;

  &:hover {
    background-color: $clr-blue-100;
    color: $clr-blue-800;
  }
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

