@use "../abstracts/variables" as *;


/* ......../ NavBar /.......... */

@media (max-width: 786px) {

  .navbar-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: $clr-red;
    height: 0vh;
    overflow: hidden;
    transition: all 1s cubic-bezier(.215, .61, .335, 1);

    li {
      display: block;
      text-align: center;
      padding: $size-200 0;
      margin: auto;

      a:hover,
      a:focus {
        color: $clr-gray-800;
        border-bottom: 1px solid $clr-gray-800;
      }
    }
  }

  .navbar-menu-open {
    width: 100%;
    padding: 30px;
    height: 30vh;
  }

  .hamburger-ico {
    display: block;
    padding-right: $size-300;
  }

  .icon-close {
    display: none;
  }

  .icon-hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger-open-false {
    display: none;
  }

  .hamburger-open-true {
    display: block;
    cursor: pointer;
  }
}


/* ......../ Home /.......... */

//Tablet
@media (min-width: 550px) {
  .hero-container {
    max-width: 70rem;

    h1 {
      font-size: 6.5rem;

      span {
        font-size: $fs-800;
      }
    }
    p {
      font-size: $fs-700;
    }
  }
}

//Desktop
@media (min-width: 875px) {
  .hero-container {
    max-width: 70rem;

    h1 {
      font-size: 8rem;
      line-height: $size-900;

      span {
        font-size: $fs-950;
      }
    }
    p {
      font-size: $fs-750;
    }
  }
}

/* ......../ About /.......... */

//Tablet
@media (min-width: 550px) {
  .about-container h1 {
    font-size: $fs-750;
  }

  .about-container p {
    font-size: $fs-700;
  }

}

/* Desktop */

@media (min-width: 875px) {
  .about-container {
    max-width: 62.5rem;
  }

  .about-container p {
    font-size: $fs-650;
  }
}

/* ......../ Skills /.......... */

//Tablet
@media (min-width: 550px) {
  .skills {
    padding: 0 5rem 4rem 5rem;
  }

  .skills-title {
    font-size: $fs-750;
  }

  .skills-card {
    h2 {
      font-size: $fs-750;
    }

    p {
      font-size: $fs-700;
    }

    h3 {
      font-size: $fs-650;
    }
  }
}

//Desktop
@media (min-width: 875px) {
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: $size-400;
  }

  .skills-card {
    text-align: center;
    max-width: 400px;
    padding: $size-400;
    background: $clr-white;
    border-radius: $size-300;

    p {
      font-size: $fs-650;
    }

    h3 {
      font-size: $fs-600;
    }
  }

}

/* ......../ Project /.......... */

//Tablet
@media (min-width: 550px) {
  .project-container {
    padding: $size-300 $size-700;
  }

  .project-title {
    font-size: $fs-750;
  }

  .project-info {

    h2 {
      font-size: $fs-750;
    }

    p {
      font-size: $fs-400;
    }
  }

  .project-btn {
    margin-right: $size-600;
  }
}

//Desktop
@media (min-width: 875px) {

  .project-container {
    max-width: 80rem;
    margin: auto;
  }

  .project-title {
    font-size: $fs-750;
  }

  .project {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: $size-500;
    max-width: 56rem;
    min-height: 20.625rem;
  }

  .project-img {
    margin: auto;
    width: 100%;

    img {
      margin: auto;
      width: 100%;
    }
  }

  .project-container-left {
    display: flex;
    justify-content: flex-start;
  }

  .project-container-right {
    display: flex;
    justify-content: flex-end;
  }

  .project-info {
    h2 {
      font-size: $fs-750;
    }

    p {
      font-size: $fs-700;
    }
  }

  .project-btn {
    margin-right: $size-600;
  }
}

/* ......../ Contact /.......... */

@media (max-width: 550px) {

  .form-container {
    input,
    textarea {
      min-width: 12.5rem;
    }
  }
}