@use "../abstracts/variables" as *;

/* ......../ Projects /.......... */

.project-container {
    padding: $size-300;
}

.project-title {
    padding: 2rem 0;
    font-family: $ff-secondary;
    color: $clr-blue-800;
    font-size: $fs-700;
    text-align: center;
    text-decoration: underline;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-400;
    background: $clr-blue-800;
    padding: $size-600;
    border-radius: $size-600;
    box-shadow: 0px 5px 15px $clr-blue-200;
    margin-bottom: $size-700;
}

.project-img {
    width: 35%;
    margin-bottom: $size-400;

    img {
        margin: auto;
        width: 100%;
    }
}

.project-info {
    text-align: center;
    margin: auto;

    h2 {
        font-family: $ff-secondary;
        margin-bottom: $size-400;
        color: $clr-white;
    }

    p {
        font-family: $ff-primary;
        color: $clr-white;
        margin-bottom: $size-600;
    }
}

.project-btn {
    margin-bottom: $size-300;
}

.skill-project-img{
    display: flex;
    justify-content: center;
    gap: $size-200;
    margin-top: $size-200;

    img {
      width: $size-700;
    }
  }
