@use "../abstracts/variables" as *;

/* ......../ ThankYouPage /.......... */

#particles-js {
  background: linear-gradient(to right, #1D3557, #457B9D);
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#particles-js {
  width: 100% !important;
  height: 100vh !important;
}

.thx-container {
  text-align: center;
  padding: $size-400;
  margin: $size-400;
  max-width: 31.25rem;
  background-color: $clr-gray-800;
  border-radius: $size-500;
  position: absolute;
  z-index: 1;

  h1 {
    font-family: $ff-secondary;
    font-size: $fs-750;
    color: $clr-blue-100;
    margin-bottom: $size-300;
  }

  p {
    font-family: $ff-primary;
    font-size: $fs-650;
    color: $clr-blue-100;
    margin-bottom: $size-300;
  }

  img {
    display: inline-block;
    width: 30%;
  }
}