@import "general.css";

/* ......../ Footer /.......... */

.footer {
  background: var(--clr-gray-800);
  padding: var(--size-400) 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.scroll-up a {
  font-size: var(--fs-800);
  text-decoration: none;
  color: var(--clr-red);
}