@import "general.css";

/* ......../ Home /.......... */

#particles-js {
  background: linear-gradient(to right, #1D3557, #457B9D);
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#particles-js {
  width: 100% !important;
  height: 100vh !important;
}

.hero-container {
  padding: var(--size-300);
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  z-index: 1;
}

.hero-title {
  font-size: var(--fs-700);
  font-family: 'Fredoka One', cursive;
}

.hero-sub-title {
  font-size: var(--fs-600);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  margin-bottom: var(--size-400);
}

.hero-description {
  font-size: var(--fs-600);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  margin-bottom: var(--size-900);
}

.hero-icons {
  font-size: var(--fs-700);
  margin-bottom: var(--size-600);
}

.hero-icons a{
  color: var(--clr-blue-100);
  text-decoration: none;
}

.ico{
  border: 2px solid var(--clr-blue-100);
  border-radius: 10px;
  padding: 6px;
  margin: 4px;
}

.ico:hover{
  background-color: var(--clr-blue-100);
  color: var(--clr-blue-800);

}

.button {
  border: none;
  background: var(--clr-red);
  color: var(--clr-blue-100);
  padding: var(--size-300);
  min-width: var(--size-700);
  border-radius: var(--size-300);
  font-family: var(--ff-secondary);
}

.button:hover {
  background: var(--clr-red-400);
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* Tablet */

@media (min-width: 550px) {
  .hero-title {
    font-size: var(--fs-900);
  }

  .hero-sub-title {
    font-size: var(--fs-750);
  }

  .hero-description {
    font-size: var(--fs-700);
  }

  .hero-container {
    max-width: 70rem;
  }

}

/* Desktop */

@media (min-width: 875px) {
  .hero-title {
    font-size: var(--fs-950);
  }

  .hero-sub-title {
    font-size: var(--fs-800);
  }

  .hero-description {
    font-size: var(--fs-750);
  }

  .hero-container {
    max-width: 70rem;
  }

}
